body {
    background-image: url('https://wallpaper.forfun.com/fetch/6f/6f64ebc05f06b32deeff02e8dc09c4af.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;
    font-family: Arial; 
}


#tudo {
    background-color: black;
    opacity: 0.9;
    width: 800px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 30px;
    border-radius: 15px;
    color: white;
}

h2 {
    color: yellow;
    text-align: center;
}


.parte-de-fora {
    width: 100%;
}

.lado-da-foto {
    float: left; 
    width: 200px;
    text-align: center;
}

.foto {
    width: 180px;
    height: 180px;
    border-style: solid;
    border-width: 3px;
    border-color: yellow;
    border-radius: 10px;
    margin-top: 10px;
}


.inputs {
    float: right;
    width: 550px;
}

.linha1 input, .linha2 input, .linha2 select, .linha3 select, .linha3 input {
    background-color: #2a2a2a;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #333;
    width: 250px; 
}

textarea {
    background-color: #2a2a2a;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #333;
    width: 520px;
}


.botao {
    background-color: yellow;
    color: black;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}

.botao:hover {
    background-color: orange;
}
